# Part 1: Features Engineering

Indicators are tools that help an investor or a trader to make a decision whether to buy stock or sell.
Technical indicators (which can be called features in this context) constructed from stock data, such as `price` or `volume`.
In this part we will create following features: `Bollinger Bands`, `RSI`, `MACD`, `Moving Average`, `Return`, `Momentum`, `Change` and `Volatility`.

`Return` will serve as a **target** or dependent variable. Other features will serve as independent variables.

## Importing Libraries

In [1]:
import pandas_datareader as pdr
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from importlib import reload
from features_engineering import ma7, ma21, rsi, macd, bollinger_bands, momentum, get_tesla_headlines

from bs4 import BeautifulSoup
import requests
from nltk.sentiment.vader import SentimentIntensityAnalyzer
warnings.filterwarnings('ignore')
plt.rcParams['figure.dpi'] = 227 # native screen dpi for my computer

# Original Data

In [3]:
tsla_df = pdr.get_data_yahoo('tsla', '1980')
tsla_df.to_csv('data/raw_stocks.csv')

Let's take a look at the historical data of **Tesla**.

In [4]:
tsla_df.head()

             High        Low       Open      Close    Volume  Adj Close
Date
2010-06-29  25.00  17.540001  19.000000  23.889999  18766300  23.889999
2010-06-30  30.42  23.299999  25.790001  23.830000  17187100  23.830000
2010-07-01  25.92  20.270000  25.000000  21.959999   8218800  21.959999
2010-07-02  23.10  18.709999  23.000000  19.200001   5139800  19.200001
2010-07-06  20.00  15.830000  20.000000  16.110001   6866900  16.110001

In [5]:
tesla_df.describe()

,High,Low,Open,Close,Volume,Adj Close
count,2355.000000,2355.000000,2355.000000,2355.000000,2.355000e+03,2355.000000
mean,183.326119,176.897919,180.195248,180.210909,5.585331e+06,180.210909
std,114.760392,111.145495,113.008218,113.030067,1.134059e+07,113.030067
min,16.629999,14.980000,16.139999,15.800000,1.185000e+05,15.800000
25%,34.504999,33.395000,33.975000,34.020000,1.799750e+06,34.020000
50%,214.440002,206.850006,210.380005,210.089996,4.481700e+06,210.089996
75%,264.604996,255.834999,261.125000,260.945007,7.175250e+06,260.945007
max,389.609985,379.350006,386.690002,385.000000,5.059900e+08,385.000000

### Checking for missing data

In [6]:
print('No missing data') if sum(tesla_df.isna().sum()) == 0 else tesla_df.isna().sum()

No missing data

# Generating Features

In [6]:
#del stocks
files = os.listdir('data/raw_stocks')
stocks = {}
for file in files:
    name = file.lower().split('.')[0]
    stocks[name] = pd.read_csv('data/raw_stocks/'+file)    
    
    # Return Feature
    stocks[name]['Return'] = round(stocks[name]['Close'] / stocks[name]['Open'] - 1, 3)
    # Change Feature
    # Change of the price from previous day, absolute value
    stocks[name]['Change'] = (stocks[name].Close - stocks[name].Close.shift(1)).fillna(0)
    # Date Feature
    stocks[name]['Date'] = pd.to_datetime(stocks[name]['Date'])
    stocks[name].set_index('Date', inplace=True)
    # Volatility Feature
    stocks[name]['Volatility'] = stocks[name].Close.ewm(21).std()
    # Moving Average, 7 days
    stocks[name]['MA7'] = ma7(stocks[name])
    # Moving Average, 21 days
    stocks[name]['MA21'] = ma21(stocks[name])
    # Momentum
    stocks[name]['Momentum'] = momentum(stocks[name].Close, 3)
    # RSI (Relative Strength Index)
    stocks[name]['RSI'] = rsi(stocks[name])
    # MACD - (Moving Average Convergence/Divergence)
    stocks[name]['MACD'], stocks[name]['Signal'] = macd(stocks[name])
    # Upper Band and Lower Band for Bollinger Bands
    stocks[name]['Upper_band'], stocks[name]['Lower_band'] = bollinger_bands(stocks[name])
    stocks[name].dropna(inplace=True)
    # Saving
    stocks[name].to_csv('data/stocks/'+name+'.csv')

stocks['tsla'].head()

Mostly we will rely on historical data and technical indicators. Additionally, we will use news headlines of Tesla to check hypothesis if news affect price movement.

## Tesla News Headlines

For news source we will use <a href="nasdaq.com">NASDAQ</a> website.
At the moment of parsing there were 120 pages of news from `2019-01-10` till `2019-09-05`

In [ ]:
headlines_list, dates_list = [], []
for i in range(1, 120):    
    headlines, dates = get_tesla_headlines("https://www.nasdaq.com/symbol/tsla/news-headlines?page={}".format(i))
    headlines_list.append(headlines)
    dates_list.append(dates)
    time.sleep(1)

In [ ]:
tesla_headlines = pd.DataFrame({'Title': [i for sub in headlines_list for i in sub], 'Date': [i for sub in dates_list for i in sub[:10]]})

## Unsupervised sentiment prediction

Once news are parsed, we will use unsupervised learning to assign sentiment to each news.

In [15]:
sid = SentimentIntensityAnalyzer()

In [57]:
tesla_headlines['Sentiment'] = tesla_headlines['Title'].map(lambda x: sid.polarity_scores(x)['compound'])
tesla_headlines.Date = pd.to_datetime(tesla_headlines.Date)
tesla_headlines.to_csv('data/tesla_headlines.csv')

In [24]:
tesla_headlines.head()

                                               Title        Date  Sentiment
0  Tesla's use of individual driver data for insu...  2019-09-05     0.0000
1  U.S. safety agency cites Tesla Autopilot desig...  2019-09-04     0.0258
2  U.S. safety agency cites driver error, Tesla A...  2019-09-04    -0.3818
3  U.S. safety regulator cites driver error, Tesl...  2019-09-04    -0.3818
4  U.S. NTSB cites driver error, Tesla Autopilot ...  2019-09-04    -0.6597

# Conclusion

Exploratory Analysis, Machine learning algorithms and Q-Learning will rely on features we generated at this point.